doctype html
html
  head
    meta(charset='UTF-8')
    title Task Manger
    link(rel='stylesheet', href='css/style.css')
  body
    body
    center
      img(src='/img/tasks.png', height='60', width='60')
    .login
      .login-screen
        .app-title
          h1 Task Manger
        form(action='/login', method='post')
          input(type='hidden', name='_csrf', value=_csrf)
          .login-form
            .control-group
              input#login-name.login-field(name='user', type='text', value='', placeholder='username')
              label.login-field-icon.fui-user(for='login-name')
            .control-group
              input#login-pass.login-field(name='password', type='password', value='', placeholder='password')
              label.login-field-icon.fui-lock(for='login-pass')
            button.btn.btn-primary.btn-large.btn-block(type='submit', value='Submit') login
